#tweetholder {
  overflow: auto;
}

.tweet {
  border: 2px solid;
  border-radius: 5px;
  border-color: lightgrey;
  margin: 20px 2em 2em 2em;
}

.tweet:hover {
  border-color: grey;
}

.tweet:hover header {
  background-color: #d4d4d4;
}

.tweet header {
  background-color: #eee;
  padding: 10px;
  overflow: auto;
}

.tweet header h2 {
  display: inline;
  margin: 0 0 0 5px;
  color: #346674;
}

.tweet:hover h2 {
  color: #244751;
}

.tweet header p {
  float: right;
  padding: 0;
  color: darkgrey;
}

.tweet:hover header p {
  color: grey;
}

.tweet p {
  padding: 25px 5px 25px 5px;
  word-wrap: break-word;
}

.tweet header img {
  border-radius: 5px;
  float: left;
  opacity: .8;
}

.tweet:hover header img {
  opacity: 1;
}

.tweet footer {
  border-top: 1px solid gainsboro;
  padding: 10px 10px 10px 10px;
  font-size: .8em;
}

.tweet footer i {
  float: right;
  padding: 2.5px 5px 0 0;
  visibility: hidden;
}

.tweet:hover footer i {
  visibility: visible;
}